main {
    width:50%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 5rem;
}
#form {
    width: 45%;
    margin: 5rem;
    flex-direction: column;
    display: flex;
    gap: 1rem;
}
#btn {
    width: 10rem;
    height: 2rem;
    background-color: coral;
    border: blueviolet;
    color: chocolate;
    font-size: 20px;
}
#btn:hover {
    background-color: aquamarine;
    color: cornflowerblue;
    cursor: pointer;
}